force-app/main/default/flows/ConflictProjectGroupProcess.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>冲突组归纳流程 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>冲突组归纳流程</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getSimilarProjects</name>
        <label>查找相似项目列表</label>
        <locationX>375</locationX>
        <locationY>173</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SimilarProjectSelect</targetReference>
        </connector>
        <filters>
            <field>SimilarProjectGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SimilarProject__c</object>
        <outputReference>SimilarProjects</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Project__c</queriedFields>
        <queriedFields>ProjectNo__c</queriedFields>
        <queriedFields>ChanelPartner__c</queriedFields>
        <queriedFields>ProjectName__c</queriedFields>
        <queriedFields>ProjectStage__c</queriedFields>
        <queriedFields>Factory__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>ProductName__c</queriedFields>
    </recordLookups>
    <screens>
        <name>GenerateConflictProject</name>
        <label>生成冲突项目</label>
        <locationX>656</locationX>
        <locationY>298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ViewConflictProject</targetReference>
        </connector>
        <fields>
            <name>NoticeInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://lwcdemo2-dev-ed--c.documentforce.com/servlet/rtaImage?refid=0EM0o000001r1UB&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(234, 11, 11);&quot;&gt;温馨提示：&lt;/b&gt;生成冲突项目需完善项目信息如下所示。​&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProjectName</name>
            <dataType>String</dataType>
            <fieldText>项目名称</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipowner</name>
            <dataType>String</dataType>
            <fieldText>船东</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DesigningInstitute</name>
            <dataType>String</dataType>
            <fieldText>设计院</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipyard</name>
            <dataType>String</dataType>
            <fieldText>船厂</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SimilarProjectSelect</name>
        <label>相似项目列表选择</label>
        <locationX>656</locationX>
        <locationY>55</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GenerateConflictProject</targetReference>
        </connector>
        <fields>
            <name>SimilarProjectTable</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata</name>
                <value>
                    <elementReference>SimilarProjects</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>SimilarProjectSelectedList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_fieldName</name>
                <value>
                    <stringValue>ProjectName__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column1_label</name>
                <value>
                    <stringValue>项目名称</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_fieldName</name>
                <value>
                    <stringValue>ChanelPartner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column3_label</name>
                <value>
                    <stringValue>经销商</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_fieldName</name>
                <value>
                    <stringValue>ProjectNo__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column2_label</name>
                <value>
                    <stringValue>申报编号</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column4_fieldName</name>
                <value>
                    <stringValue>Factory__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column4_label</name>
                <value>
                    <stringValue>工厂</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column5_fieldName</name>
                <value>
                    <stringValue>ProductName__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column5_label</name>
                <value>
                    <stringValue>机型</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SimilarProjects</assignToReference>
                <name>mydata</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SimilarProjectSelectedList</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ViewConflictProject</name>
        <label>查看冲突组项目信息</label>
        <locationX>893</locationX>
        <locationY>218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ViewConflictProjectUrl</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://lwcdemo2-dev-ed--c.documentforce.com/servlet/rtaImage?refid=0EM0o000001r1VJ&quot;&gt;&lt;/p&gt;&lt;p&gt;查看生成的冲突组信息（项目申报编号：&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;DP2019R0003&lt;/span&gt;）请点击如下url​：&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://lwcdemo2-dev-ed.lightning.force.com/lightning/r/Opportunity/0060o00001KnHXIAA3/view&quot; target=&quot;_blank&quot;&gt;https://lwcdemo2-dev-ed.lightning.force.com/lightning/r/Opportunity/0060o00001KnHXIAA3/view&lt;/a&gt;&lt;/p&gt;&lt;p&gt;​&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getSimilarProjects</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SimilarProjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SimilarProject__c</objectType>
    </variables>
    <variables>
        <name>SimilarProjectSelectedList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SimilarProject__c</objectType>
    </variables>
</Flow>
